{% load media_tags houses_tags %}
        <li class="reviews__item">
          {% if review.image %}
            <div class="reviews__media">
              {% picture review.image preset="review" alt=review.author_name %}
            </div>
          {% else %}
            <div class="reviews__media" aria-hidden="true"></div>
          {% endif %}
          <blockquote class="reviews__text"><p>{{ review.text|review_quote }}</p></blockquote>
          <p class="reviews__author">{{ review.author_name }}</p>
        </li>